body {
    font-family: sans-serif;;
    background: url(../images/table_cloth.png);
    margin: 0;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

/* The intro */
.header {
    background-color: white;
}

.header__logo {
  border-bottom: 1px solid #556b2f;
  padding: 5px;
  text-align: center;
}

.header__logo * {
  display: inline-block;
  vertical-align: middle;
}

.header__logo__image {
    width: 60px;
    height: 60px;
    margin: 0 5px;
}

.header__logo__name {
    color: #556b2f;
    font-size: 28px;
}

/* The menu */
.menu {
  background-color: white;
  border-bottom: 1px solid #999;
  box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.75);
  padding: 5px 10px;
}

.menu_title {
  font-weight: bold;
}

.menu_list {
  display: inline-block;
}

.menu_list__item {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
}

.menu_list__item:hover {
  color: #556b2f;
}

.menu_list__item--active {
  text-decoration: underline;
}

/* The food tray */
.tray {
  width: calc(70% + 1%);
}

.tray__wrapper {
  padding: 20px;
}

.tray__item {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 2px;
  display: inline-block;
  margin: 5px;
  width: 200px;
}

.tray__item__name,
.tray__item__price {
  color: #666;
  font-weight: bold;
  padding: 5px 10px;
}

.tray__item__name {
  border-bottom: 1px solid #ccc;
}

.tray__item__image {
  background-size: cover;
  background-position: top;
  height: 150px;
  width: 100%;
}

.tray__item__price {
  border-top: 1px solid #ccc;
}

.bill {
  color: #666;
  position: absolute;
  right: 0;
  top: 110px;
  width: 30%;
}

.bill__container {
  height: auto;
  border-radius: 6px;
  background: url(../images/leather_bg.png);
  margin: 5px;
  padding: 15px 5px;
}

.bill__wrapper {
  background: #FFC;
  border-radius: 3px;
  padding: 5px;
}

.bill__title {
  text-align: center;
}

.bill__receipt {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #fc9;
    border-bottom: 1px solid #fc9;
}

.bill__receipt tr {
    cursor: pointer;
    border-bottom: 1px dashed #FC9;
}

.bill__receipt tr:hover {
    background: rgba(0, 0, 0, 0.3);
}

.bill__receipt tr td:last-child,
.bill__total {
  text-align: right;
}
